version: '3.8'

services:
  backend:
    build: ./Backend
    container_name: flask_backend
    ports:
      - "5000:5000"

  frontend:
    build: ./Frontend
    container_name: node_frontend
    ports:
      - "3000:3000"
    environment:
      - BACKEND_HOST=backend
    depends_on:
      - backend
